{% extends 'base.html.twig' %}

{% import '_macro.html.twig' as macro %}

{% block content %}
    <h2 class="mb-5">Welcome to the feedback app!</h2>

    {% if not app.user %}
        <p>
            To get started, please login using your SymfonyConnect account.
            We won't save any information until your comment on an event.
        </p>

        <p>
            <a href="{{ path('symfony_connect_login') }}" class="btn btn-primary">Connect with Symfony Connect</a>
        </p>
    {% else %}
        <h2>Events you attended:</h2>

        {% for event in events %}
            <h3 class="mb-2">{{ event.name }} {{ macro.display_rating(event.averageRating) }}</h3>

            <p><a href="{{ path('event_details', {id: event.id}) }}">View details</a></p>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <p class="mt-5">
                <a href="{{ path('easyadmin') }}" class="btn btn-warning">Administration</a>
            </p>
        {% endif %}

        <p class="mt-5">
            <a href="{{ path('logout') }}">Logout</a>
        </p>
    {% endif %}
{% endblock %}
