{% extends 'base.html.twig' %}

{% block title %}Comment on {{ event.name }}{% endblock %}

{% block content %}
    <h1>Leave comment over {{ event.name }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.rating) }}

        {{ form_row(form.selectedTags) }}

        {{ form_row(form.comment) }}

        <p>Optional - you can give us more details about your rating:</p>
        {{ form_row(form.contentRating) }}
        {{ form_row(form.locationRating) }}
        {{ form_row(form.foodRating) }}
        {{ form_row(form.socialEventRating) }}

        <button type="submit" class="btn btn-primary">Leave comment</button>
        <a href="{{ path('event_details', {id: event.id}) }}" class="btn btn-outline-primary">Cancel</a>
    {{ form_end(form) }}

    <p class="mt-5">
        Your comment will published with the name you entered in your SymfonyConnect account.<br />
        This application will save your name, e-mail address, username and SymfonyConnect UUID.
    </p>
{% endblock %}
