{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block content %}
    <h1>Hello {{ username }}!</h1>

    <h2>Events you attended:</h2>

    {% for event in events %}
        <h3>{{ event.name }}</h3>
        <a href="{{ path('review_event', {id: event.id}) }}">Review</a>

        {% for talk in event.talks %}
            <h4>{{ talk.title }}</h4>
            <a href="{{ path('review_talk', {id: talk.id}) }}">Review</a>
        {% endfor %}
    {% endfor %}
{% endblock %}
