{% extends 'base.html.twig' %}

{% block title %}Comment on "{{ talk.title }}"{% endblock %}

{% block content %}
    <h1>Leave comment over "{{ talk.title }}"</h1>

    <blockquote class="blockquote">
        <p class="mb-0">{{ talk.description }}</p>

        <footer class="blockquote-footer">
            <cite>{{ talk.speaker.name }}</cite>

            {% if talk.firstTimeSpeaker %}
                <span class="badge badge-secondary">First time speaker</span>
            {% endif %}
        </footer>
    </blockquote>

    {{ form_start(form) }}
        {{ form_row(form.rating) }}

        {{ form_row(form.selectedTags) }}

        {{ form_row(form.comment) }}

        <p>Optional - you can give us more details about your rating:</p>
        {{ form_row(form.contentRating) }}
        {{ form_row(form.deliveryRating) }}
        {{ form_row(form.relevanceRating) }}

        <button type="submit" class="btn btn-primary">Leave comment</button>
        <a href="{{ path('talk_details', {id: talk.id}) }}" class="btn btn-outline-primary">Cancel</a>
    {{ form_end(form) }}

    <p class="mt-5">
        Your comment will published with the name you entered in your SymfonyConnect account.<br />
        This application will save your name, e-mail address, username and SymfonyConnect UUID.
    </p>
{% endblock %}
