<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Conference Feedback{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block header %}
                <div class="row">
                    <div class="col mt-3">
                        <h1><a href="{{ path('home') }}">Conference Feedback</a></h1>

                        <hr />
                    </div>
                </div>
            {% endblock %}

            {% block flashes %}
                {% set flash_messages = app.session.flashbag.all %}
                {% if flash_messages|length > 0 %}
                    <div class="row">
                        <div class="col">
                            {% for label, messages in flash_messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }}">{{ message }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            <div class="row">
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% block footer %}
                <div class="row">
                    <div class="col my-5">
                        <p class="text-muted">Made with &#x2661; by <a href="https://twitter.com/romaricdrigon">@romaricdrigon</a> - <a href="https://github.com/romaricdrigon/sf-talk-rating">Github</a></p>

                        <div class="mt-3" style="float: right">
                            <h6 class="mb-2">Deployed on</h6>
                            <a href="https://symfony.com/cloud/" class="block" width="120">
                                <svg width="170" viewBox="0 0 1830 300" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                                    <path fill="none" d="M0 0h1830v300H0z"></path>
                                    <g serif:id="sfcloud-large-white">
                                        <path d="M300 30c0-16.557-13.443-30-30-30H30C13.443 0 0 13.443 0 30v240c0 16.557 13.443 30 30 30h240c16.557 0 30-13.443 30-30V30z" fill="#18171b" ></path>
                                        <path d="M225.973 38.889c-16.691.571-31.263 9.785-42.109 22.497-12.009 13.961-19.996 30.505-25.759 47.404-10.292-8.444-18.229-19.369-34.756-24.121-12.768-3.671-26.177-2.162-38.512 7.029-5.842 4.362-9.867 10.951-11.78 17.165-4.957 16.111 5.206 30.458 9.826 35.603l10.102 10.814c2.077 2.124 7.093 7.658 4.638 15.586-2.64 8.634-13.041 14.206-23.708 10.931-4.767-1.462-11.611-5.01-10.075-9.999.627-2.048 2.092-3.589 2.883-5.336.714-1.526 1.063-2.66 1.28-3.339 1.948-6.355-.718-14.632-7.53-16.738-6.36-1.951-12.864-.405-15.387 7.778-2.859 9.299 1.591 26.178 25.434 33.523 27.932 8.596 51.555-6.619 54.906-26.447 2.113-12.42-3.501-21.654-13.772-33.52l-8.377-9.267c-5.068-5.065-6.811-13.702-1.564-20.338 4.433-5.605 10.735-7.987 21.074-5.18 15.085 4.09 21.803 14.558 33.018 23.002-4.623 15.193-7.655 30.443-10.392 44.116l-1.681 10.202c-8.016 42.045-14.139 65.143-30.045 78.4-3.208 2.283-7.788 5.696-14.69 5.939-3.627.111-4.796-2.385-4.846-3.475-.082-2.534 2.057-3.7 3.478-4.84 2.13-1.163 5.344-3.085 5.124-9.246-.232-7.281-6.261-13.591-14.98-13.301-6.528.22-16.48 6.357-16.102 17.608.384 11.622 11.212 20.329 27.543 19.776 8.728-.293 28.222-3.844 47.427-26.673 22.357-26.18 28.609-56.181 33.311-78.143l5.253-28.999c2.913.352 6.033.589 9.426.668 27.847.589 41.766-13.828 41.983-24.323.141-6.349-4.163-12.604-10.192-12.454-4.307.12-9.727 2.997-11.022 8.956-1.278 5.845 8.856 11.127.937 16.269-5.625 3.639-15.709 6.199-29.913 4.122l2.581-14.274c5.271-27.065 11.772-60.353 36.438-61.167 1.799-.085 8.37.076 8.523 4.429.044 1.445-.32 1.826-2.016 5.145-1.734 2.59-2.388 4.805-2.303 7.336.238 6.906 5.491 11.453 13.099 11.189 10.172-.343 13.093-10.242 12.926-15.334-.416-11.965-13.022-19.524-29.699-18.973z" fill="#fff" fill-rule="nonzero"></path>
                                        <path d="M612.349 103.388l-46.356 128.475c-8.638 24.154-17.761 52.023-48.319 52.023-7.401 0-11.61-.991-15.792-1.728l.62-8.025c.894-5.684 4.879-9.376 10.163-9.089.507.04 1.03.09 1.542.09 20.716 0 27.621-28.594 27.621-31.059 0-2.707-2.96-9.117-4.446-13.315L494.73 103.388h16.162c.04 0 .068.028.124.028 4.908 0 9.652 3.383 11.689 7.947l31.2 96.082h.495l31.898-96.133c2.06-4.541 6.793-7.896 11.678-7.896.056 0 .067-.028.123-.028h14.25zm686.164 0l-46.356 128.475c-8.638 24.154-17.772 52.023-48.336 52.023-7.389 0-11.599-.991-15.791-1.728l.63-8.025c.895-5.684 4.885-9.376 10.152-9.089.524.04 1.036.09 1.542.09 20.716 0 27.632-28.594 27.632-31.059 0-2.707-2.971-9.117-4.457-13.315l-42.652-117.372h16.163c.039 0 .067.028.112.028 4.907 0 9.668 3.383 11.7 7.947l31.2 96.082h.507l31.886-96.133c2.049-4.541 6.793-7.896 11.678-7.896.056 0 .084-.028.123-.028h14.267zm-324.415-2.954c38.223 0 63.846 27.621 63.846 65.833 0 36-26.118 65.827-63.846 65.827-37.965 0-64.1-29.827-64.1-65.827 0-38.212 25.623-65.833 64.1-65.833zm462.491-39.078c-8.823-4.656-29.165-6.372-39.214-6.372-52.939 0-86.271 36.518-86.271 88.477 0 52.939 32.352 88.476 86.271 88.476 10.784 0 29.901-1.715 39.214-7.352v-.001a11.024 11.024 0 0 0-13.549-9.992c-8.629 2.026-18.376 2.64-25.665 2.64-45.096 0-69.36-30.636-69.36-73.771 0-42.4 24.999-73.772 69.36-73.772 7.51 0 16.362.671 24.578 2.553a11.942 11.942 0 0 0 14.631-10.884l.005-.002zm46.344 105.143c0 34.067 17.891 65.438 58.331 65.438 40.439 0 58.331-31.371 58.331-65.438 0-34.067-17.892-65.438-58.331-65.438-40.44 0-58.331 31.371-58.331 65.438zm227.107-62.497h-2.737a12.703 12.703 0 0 0-12.703 12.704v56.41c0 20.833-8.824 45.587-37.009 45.587-21.322 0-29.655-15.196-29.655-38.724v-63.273a12.704 12.704 0 0 0-12.704-12.704h-2.737V183.9c0 27.45 11.764 48.037 42.645 48.037 25.98 0 35.293-13.97 40.44-25.244h.49v22.303h1.401a12.704 12.704 0 0 0 12.704-12.719l-.135-112.275zm104.029 21.077V45.181h2.736a12.7 12.7 0 0 1 8.983 3.721 12.7 12.7 0 0 1 3.721 8.983v158.408a12.703 12.703 0 0 1-12.704 12.703h-2.736v-19.852h-.491c-8.333 15.931-21.077 22.793-38.968 22.793-34.313 0-51.469-28.43-51.469-65.438 0-37.989 14.705-65.438 51.469-65.438 24.508 0 36.763 17.891 38.968 24.018h.491zM424.419 231.835h-.147c-11.733 0-23.411-3.213-34.801-6.894l.697-6.781c.665-6.061 4.925-10.642 10.125-9.792 8.284 2.616 18.115 4.879 27.182 4.907 15.487-.028 37.964-8.622 38.077-31.909-.18-22.325-21.256-29.956-40.486-39.203-19.601-9.488-37.824-19.978-37.88-47.025.084-30.935 24.002-47.149 56.232-47.346 8.841 0 18.993 1.221 28.707 3.636l-.428 7.603c-.63 5.233-5.076 9.387-10.383 8.998-.084 0-.084.079-.141.079-5.031-1.103-10.175-1.739-16.613-1.739-.028 0-.095 0-.152.011-14.829-.022-34.042 5.476-34.115 26.406.372 19.702 21.307 26.354 40.458 36.146 19.517 9.916 37.863 22.027 37.919 50.869-.107 37.374-28.155 51.775-64.251 52.034zm647.074-2.696h-12.736V103.388h11.801c.04 0 .051.028.107.028 5.808 0 10.513 4.705 10.513 10.53 0 .022.022.022.022.034v9.398h.484c6.917-14.306 23.671-22.944 41.184-22.944 32.545 0 47.098 20.226 47.098 54.003v64.668c-.264 5.577-4.817 10.029-10.456 10.029-.028 0-.028.005-.039.005h-12.697v-65.09c0-29.348-6.381-43.643-26.619-44.869-26.382 0-38.223 21.205-38.223 51.775v48.499c-.428 5.408-4.896 9.68-10.411 9.68-.027 0-.028.005-.028.005zm-208.378 0h-12.763V122.14h-19.151c-.028 0-.051-.028-.079-.028-5.284 0-9.618-3.895-10.372-8.954v-9.77h29.602v-9.983c0-30.581 7.895-50.554 42.157-50.554 5.903 0 10.856.737 15.532 1.48l-.399 7.592c-.321 5.538-4.924 10.051-10.468 9.646-.056 0-.045.062-.084.062-.383-.017-.771-.045-1.142-.045-19.956 0-22.421 12.836-22.421 29.843v11.959h33.288v8.751c-.259 5.454-4.649 9.821-10.108 10.001h-23.18v97.905c-.715 5.11-5.06 9.089-10.372 9.089-.028 0-.011.005-.04.005zm-219.48 0h-12.556V103.388h11.087c.039 0 .068.028.113.028 5.774 0 10.422 4.649 10.506 10.4v7.829h.496c8.858-14.554 21.441-21.211 39.928-21.211 14.554 0 29.096 7.4 35.764 24.413 8.628-17.992 27.61-24.413 38.944-24.413 32.072 0 43.643 20.715 43.643 48.089v72.411c-1.058 4.699-5.228 8.2-10.231 8.2-.017 0-.017.005-.028.005h-12.905V154.19c0-15.538-3.714-35.01-22.449-35.01-23.658 0-33.04 23.18-33.04 46.603v53.784c-.495 5.357-4.924 9.567-10.4 9.567-.028 0-.028.005-.039.005h-12.724V154.19c0-15.538-3.715-35.01-22.449-35.01-23.671 0-33.041 23.18-33.041 46.603V218.3c-.028.102-.078.164-.078.321 0 5.802-4.705 10.513-10.513 10.513-.011 0-.027.005-.028.005zm810.039-.143h2.737a12.706 12.706 0 0 0 12.704-12.703V57.885a12.704 12.704 0 0 0-12.704-12.704h-2.737v183.815zm46.166-62.497c0-28.92 14.46-52.204 41.42-52.204 26.959 0 41.42 23.284 41.42 52.204s-14.461 52.204-41.42 52.204c-26.96 0-41.42-23.284-41.42-52.204zm240.208 0c0-24.264 7.598-52.204 37.008-52.204 27.45 0 37.009 29.411 37.009 52.204s-9.559 52.204-37.009 52.204c-29.41 0-37.008-27.94-37.008-52.204zm-765.954 46.877c27.109 0 39.186-24.66 39.186-47.109 0-23.907-14.537-47.087-39.186-47.087-24.897 0-39.45 23.18-39.45 47.087 0 22.449 12.077 47.109 39.45 47.109z" fill="#18171b"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
